*{
    margin: 0;
    padding: 0;
}

.body{
    background: url("img/bg1.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scoreBoard{
    position: absolute;
    top: 34px;
    right: 110px;
    width: 19rem;
    height: 6rem;
    font-weight: bold;
    font-family: "Underdog", system-ui;
    font-size: 39px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 0.1rem solid black;
}

.board{
    background: url("img/3d-pixel-art-grass.png");
    background-size: 90vmin 90vmin;
    /* background: linear-gradient(rgb(190, 254, 163),rgb(243, 243, 99)); */
    width: 90vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    /* background-color: rgb(185, 5, 5); */
    background-image: url("img/snakeHead.png");
    transform: rotate(-180deg) scale(1.4);
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    /* width: 3rem;
    height: 3rem; */

}

.snake{
    background: linear-gradient(rgb(126, 41, 1),rgb(212, 92, 6));
    border: 1px solid rgb(61, 24, 1);
    border-radius: 50px;
}

.food{
    background-image: url("img/food.png");
    transform: scale(1.2);
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    /* width: 3rem;
    height: 3rem; */
    /* background-color: rgb(139, 141, 8); */
}